fastapi==0.115.12
uvicorn==0.34.0
pymongo==4.11.3
python-dotenv==1.1.0
sentence-transformers==4.0.1
torch==2.6.0
PyMuPDF==1.25.5
requests==2.32.3
loguru==0.7.3
pydantic==2.10.6
python-multipart==0.0.20
openai==1.75.0
langchain==0.3.24
langchain-core==0.3.55
langchain-text-splitters==0.3.8
